<a href="https://colab.research.google.com/github/feracor/curso_basico_pandas_numpy/blob/main/clase4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np

In [18]:
arr = np.array([1,2,3,4])
arr.dtype #Verifica tipo de dato dentro del array

dtype('int64')

In [16]:
arr = np.array([1,2,3,4], dtype = 'float') #Define el objeto como tipo float, lo que hace que sus elementos sean de tipo flotante
arr.dtype

dtype('float64')

In [15]:
arr

array([1, 2, 3, 4])

In [19]:
arr = np.array([1,2,3,4])
arr

array([1, 2, 3, 4])

In [23]:
arr = arr.astype(np.float64) # Se hace un casteo desde la libreria numpy para definir el tipo de dato del arreglo

In [27]:
arr = np.array([0,1,2,3]) #crea array
arr = arr.astype(np.bool_)  # Convierte todo los valores numericos en su equivalente booleano, solo cero es False
arr

array([False,  True,  True,  True])

In [30]:
arr = np.array([0,1,2,3]) # Crea array
arr = arr.astype(np.string_)  # Convierte todo los valores numericos en su equivalente string
arr

array([b'0', b'1', b'2', b'3'], dtype='|S21')

In [32]:
arr = np.array(['0','1','2','3']) # Crea array
arr = arr.astype(np.int8)  # Convierte todo los valores string en su equivalente entero SOLO APLICA PARA NUMEROS, NO CADENAS DE TEXTO
arr

array([0, 1, 2, 3], dtype=int8)